<!-- templates/index.html -->

{% extends "_base.html" %}
<!-- space -->
{% block content %}


<div class="py-6 md:py-8">
  <h2
    class="text-gray-600 dark:text-gray-300 font-bold text-center text-xl underline underline-offset-8 hover:underline-offset-4 md:text-4xl lg:text-4xl"
  >
    Privacy & Data Use Policy
  </h2>

  <p class="mt-2 md:mt-4 px-4 dark:text-gray-200 text-gray-200">
    Last Updated: [23 November 2023]
  </p>

  <p class="mt-2 md:mt-4 px-4 dark:text-gray-400 text-gray-500">
    KidsCare is dedicated to ensuring the privacy and security of your information when you use KidsCare AI (hereinafter referred to as "the App").
  </p>

  <h3
    class="mt-4 md:mt-8 px-2 md:px-4 text-gray-600 dark:text-gray-300 font-bold text-left text-l md:text-xl lg:text-xl"
  >
  1. Information We Collect
  </h3>
  <p class="mt-2 md:mt-4 px-4 dark:text-gray-400 text-gray-500">
    KidsCare AI may collect personal information, such as name, age, and responses to screening questions. This information is solely used for generating screening results and is not associated with user accounts.
  </p>
  <p class="mt-2 md:mt-2 px-4 dark:text-gray-400 text-gray-500">
    Non-personal information, like device details and IP addresses, is collected for analytical purposes to enhance KidsCare AI's performance and user experience.
  </p>

  <h3
    class="mt-4 md:mt-8 px-2 md:px-4 text-gray-600 dark:text-gray-300 font-bold text-left text-l md:text-xl lg:text-xl"
  >
  2. How We Use Your Information
  </h3>
  <p class="mt-2 md:mt-4 px-4 dark:text-gray-400 text-gray-500" >
    Personal information is used exclusively for providing accurate screening results and is not shared with third parties. Non-personal information is utilized to improve KidsCare AI's functionality and overall user experience.
  </p>

  <h3
    class="mt-4 md:mt-8 px-2 md:px-4 text-gray-600 dark:text-gray-300 font-bold text-left text-l md:text-xl lg:text-xl"
  >
  3. Data Security
  </h3>
  <p class="mt-2 md:mt-4 px-4 dark:text-gray-400 text-gray-500" >
    We employ industry-standard security measures, including encryption, to protect your data from unauthorized access and maintain confidentiality.
  </p>

  <h3
    class="mt-4 md:mt-8 px-2 md:px-4 text-gray-600 dark:text-gray-300 font-bold text-left text-l md:text-xl lg:text-xl"
  >
    4. Data Sharing</h3>
  <p class="mt-2 md:mt-4 px-4 dark:text-gray-400 text-gray-500" >
    We do not share personal information with third parties unless required by law or with your explicit consent. Aggregated and anonymized data may be used for research or statistical purposes, ensuring individual privacy is maintained.
  </p>

  <h3
    class="mt-4 md:mt-8 px-2 md:px-4 text-gray-600 dark:text-gray-300 font-bold text-left text-l md:text-xl lg:text-xl"
  >
  5. Changes to the Policy
  </h3>
  <p class="mt-2 md:mt-4 px-4 dark:text-gray-400 text-gray-500" >
    KidsCare reserves the right to update and modify this KidsCare AI Privacy & Data Use Policy. Users will be notified of any significant changes.
  </p>


  <h3
  class="mt-4 md:mt-8 px-2 md:px-4 text-gray-600 dark:text-gray-300 font-bold text-left text-l md:text-xl lg:text-xl"
>
6. Contact Information
</h3>
<p class="mt-2 md:mt-4 px-4 dark:text-gray-400 text-gray-500" >
    For questions or concerns regarding your privacy or this policy, please contact support@kidscare.ai
</p>
  
<p class="mt-4 md:mt-4 px-4 dark:text-gray-400 text-gray-500" >
    By using KidsCare AI, you acknowledge your understanding and agreement to the terms outlined in this Privacy & Data Use Policy.
</p>
  
</div>


<div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80">
    <svg class="relative left-[calc(50%-11rem)] -z-10 h-[21.1875rem] max-w-none -translate-x-1/2 rotate-[30deg] sm:left-[calc(50%-30rem)] sm:h-[42.375rem]"
        viewBox="0 0 1155 678">
        <path fill="url(#45de2b6b-92d5-4d68-a6a0-9b9b2abad533)" fill-opacity=".3"
            d="M317.219 518.975L203.852 678 0 438.341l317.219 80.634 204.172-286.402c1.307 132.337 45.083 346.658 209.733 145.248C936.936 126.058 882.053-94.234 1031.02 41.331c119.18 108.451 130.68 295.337 121.53 375.223L855 299l21.173 362.054-558.954-142.079z" />
        <defs>
            <linearGradient id="45de2b6b-92d5-4d68-a6a0-9b9b2abad533" x1="1155.49" x2="-78.208" y1=".177"
                y2="474.645" gradientUnits="userSpaceOnUse">
                <stop stop-color="#9089FC" />
                <stop offset="1" stop-color="#FF80B5" />
            </linearGradient>
        </defs>
    </svg>
</div>



<!-- Footer -->


{% endblock content %}