{% extends "_base.html" %}
<!-- space -->
{% load static %}
<!-- space -->
 {% block content %}

<div class="py-6 md:py-8">
  <h2
    class="text-gray-600 dark:text-gray-300 font-bold text-center text-xl underline underline-offset-8 hover:underline-offset-4 md:text-4xl lg:text-4xl"
  >
    Terms of Use
  </h2>

  <p class="mt-2 md:mt-4 px-4 dark:text-gray-400 text-gray-500">
    By accessing or using our web application, you agree to comply with and be bound by the following terms and conditions of use. Please read these Terms of Use carefully before using KidsCare AI. If you do not agree with any part of these terms, you may not use our application.
  </p>

  <h3
    class="mt-4 md:mt-8 px-2 md:px-4 text-gray-600 dark:text-gray-300 font-bold text-left text-l md:text-xl lg:text-xl"
  >
  1. Acceptance of Terms
  </h3>
  <p class="mt-2 md:mt-4 px-4 dark:text-gray-400 text-gray-500">
    By accessing and using KidsCare AI, you acknowledge that you have read, understood, and agree to be bound by these Terms of Use. If you are using the app on behalf of an organization, you represent and warrant that you have the authority to bind the organization to these terms.
  </p>

  <h3
    class="mt-4 md:mt-8 px-2 md:px-4 text-gray-600 dark:text-gray-300 font-bold text-left text-l md:text-xl lg:text-xl"
  >
  2. Usage of the application
  </h3>
  <p class="mt-2 md:mt-4 px-4 dark:text-gray-400 text-gray-500">
    You must be of legal age to use the App or have the consent of a legal guardian. The App is not intended for use by individuals under the age of 13.
  </p>

  <p class="mt-2 md:mt-4 px-4 dark:text-gray-400 text-gray-500">
    Users are responsible for providing accurate and truthful information during the screening process. Misuse, misrepresentation, or any attempt to interfere with the functionality of the App is strictly prohibited.
  </p>


  <h3
    class="mt-4 md:mt-8 px-2 md:px-4 text-gray-600 dark:text-gray-300 font-bold text-left text-l md:text-xl lg:text-xl"
  >
  3. Privacy and Data Security
  </h3>
  <p class="mt-2 md:mt-4 px-4 dark:text-gray-400 text-gray-500">
    The App collects and processes user data for the sole purpose of providing screening results. Please refer to our Privacy Policy for detailed information on data collection, storage, and usage. We employ industry-standard security measures to protect user data. However, users are responsible for maintaining the confidentiality of their account information.
  </p>


  <h3
    class="mt-4 md:mt-8 px-2 md:px-4 text-gray-600 dark:text-gray-300 font-bold text-left text-l md:text-xl lg:text-xl"
  >
  4. Intellectual Property
  </h3>
  <p class="mt-2 md:mt-4 px-4 dark:text-gray-400 text-gray-500">
    All content and materials available on the App, including but not limited to text, graphics, logos, and software, are the property of KidsCare AI and are protected by applicable copyright and trademark laws.
Users are granted a limited, non-exclusive, and non-transferable license to use the App for its intended purpose.
  </p>

  <h3
    class="mt-4 md:mt-8 px-2 md:px-4 text-gray-600 dark:text-gray-300 font-bold text-left text-l md:text-xl lg:text-xl"
  >
  5. Limitation of Liability
  </h3>
  <p class="mt-2 md:mt-4 px-4 dark:text-gray-400 text-gray-500">
    The App is provided "as is" without any warranties, either expressed or implied. KidsCare AI does not guarantee the accuracy, reliability, or completeness of the screening results. KidsCare AI shall not be liable for any direct, indirect, incidental, consequential, or punitive damages arising out of or related to the use of the App.
  </p>


  <h3
    class="mt-4 md:mt-8 px-2 md:px-4 text-gray-600 dark:text-gray-300 font-bold text-left text-l md:text-xl lg:text-xl"
  >
  6. Changes to Terms
  </h3>
  <p class="mt-2 md:mt-4 px-4 dark:text-gray-400 text-gray-500">
    KidsCare AI reserves the right to update and modify these Terms of Use at any time. Users are encouraged to review this page periodically for changes.
  </p>


  <h3
    class="mt-4 md:mt-8 px-2 md:px-4 text-gray-600 dark:text-gray-300 font-bold text-left text-l md:text-xl lg:text-xl"
  >
  7. Contact Information
  </h3>
  <p class="mt-2 md:mt-4 px-4 dark:text-gray-400 text-gray-500">
    For questions or concerns regarding these Terms of Use, please contact support@kidscare.ai
  </p>

  <p class="mt-2 md:mt-4 px-4 dark:text-gray-400 text-gray-500">
    By using the App, you acknowledge that you have read, understood, and agree to abide by these Terms of Use. Thank you for using KidsCare.
  </p>
  
</div>

<div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80">
    <svg class="relative left-[calc(50%-11rem)] -z-10 h-[21.1875rem] max-w-none -translate-x-1/2 rotate-[30deg] sm:left-[calc(50%-30rem)] sm:h-[42.375rem]"
        viewBox="0 0 1155 678">
        <path fill="url(#45de2b6b-92d5-4d68-a6a0-9b9b2abad533)" fill-opacity=".3"
            d="M317.219 518.975L203.852 678 0 438.341l317.219 80.634 204.172-286.402c1.307 132.337 45.083 346.658 209.733 145.248C936.936 126.058 882.053-94.234 1031.02 41.331c119.18 108.451 130.68 295.337 121.53 375.223L855 299l21.173 362.054-558.954-142.079z" />
        <defs>
            <linearGradient id="45de2b6b-92d5-4d68-a6a0-9b9b2abad533" x1="1155.49" x2="-78.208" y1=".177"
                y2="474.645" gradientUnits="userSpaceOnUse">
                <stop stop-color="#9089FC" />
                <stop offset="1" stop-color="#FF80B5" />
            </linearGradient>
        </defs>
    </svg>
</div>


<!-- Footer -->

{% endblock content %}